@model CoinFill.ViewModels.StakingViewModel
@using CoinFill.Helpers
@using CoinFill.Helpers.Extensions
@{
    ViewData.SetTitle("Stake cryptocurrencies");
    ViewData.SetMetaDescription("Stake your cryptocurrencies and earn an astonishing 68% APY.");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section StyleSheets {
    <style>
        .hover-border-darker-primary:hover {
            border: 2px dashed var(--dark-primary) !important;
            color: var(--dark-primary) !important;
        }

        .hover-border-primary:hover {
            border: 1px solid var(--primary);
        }

        .hover-border-primary.disabled:hover,
        .hover-border-primary:disabled {
            border: none;
        }

        #transaction-address:after {
            content: 'Copy';
            position: absolute;
            right: 0;
            margin-right: 2rem;
            top: 30% !important;
        }

        #transaction-address.hover-border-primary:hover {
            border: 2px solid var(--primary);
        }
    </style>
    <link rel="stylesheet" href="~/multiselect/bootstrap-select.min.css" />
    <link rel="stylesheet" href="~/sweet-alert2/sweetalert2.min.css" />
}

@await Html.PartialAsync("~/Views/Shared/Widgets/_NavCard.cshtml",
    new CoinFill.WidgetViewModels.NavCardWidgetViewModel(
        "far fa-sack-dollar",
        "text-success",
        ViewData.GetTitle() + " - Demo",
        ViewData.GetMetaDescription(),
        "col-12"))

<div class="card mb-3">
    <div class="card-header">
        <div class="row flex-between-center">
            <div class="col-auto">
                <h6 class="mb-0 font-weight-semi-bold text-black">Total staking rewards in USD</h6>
            </div>
            <div class="col-auto d-flex">
                <select id="chart-month" class="custom-select custom-select-sm select-month mr-2">
                    <option value="0">January</option>
                    <option value="1">February</option>
                    <option value="2">March</option>
                    <option value="3">April</option>
                    <option value="4">May</option>
                    <option value="5">Jun</option>
                    <option value="6">July</option>
                    <option value="7">August</option>
                    <option value="8">September</option>
                    <option value="9">October</option>
                    <option value="10">November</option>
                    <option value="11">December</option>
                </select>
                <div class="dropdown text-sans-serif btn-reveal-trigger">
                    <button class="btn btn-falcon-secondary text-700 btn-sm dropdown-toggle btn-reveal dropdown-caret-none" type="button" id="dropdown-total-saldes" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h fs--2"></span></button>
                    <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="dropdown-total-saldes">
                        <div class="bg-white py-2">
                            <a asp-area="" asp-controller="Demo" asp-action="MyStakes" class="dropdown-item" role="button">
                                <i class="fas fa-eye text-primary mr-1 fa-fw"></i>View my stakes
                            </a>
                            <a class="dropdown-item" data-demo-account="true" role="button"><i class="fas fa-file-excel text-success mr-1 fa-fw"></i>Export staking statistics</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body h-100 pr-0">
        <div class="echart-line-total-sales h-100" data-echart-responsive="true"></div>
    </div>
    <div class="card-footer d-flex border-dashed-top">
        <button id="stake-more" class="btn btn-primary ml-auto">
            <i class="fas fa-layer-group mr-2"></i>Stake <span class="d-none d-sm-inline">a cryptocurrency</span>
        </button>
        <a asp-controller="Demo" asp-action="MyStakes" class="btn btn-falcon-primary ml-2">
            View my stakes
        </a>
    </div>
</div>

<div id="cryptos-holder" class="row">
    @foreach (var cryptocurrency in Model.Cryptocurrencies)
    {
        int i = 1;
        <div class="col-6 col-sm-4 col-md-3 col-xl-2 mb-3 scroll-@cryptocurrency.CryptocurrencyId">
            <div class="card h-100 card-span border">
                <div class="card-body pb-3 d-flex flex-column">
                    <div class="card-img-top mb-3 d-flex justify-content-start" style="user-select: none;">
                        <div class="avatar avatar-2xl text-center p-2 rounded-soft"
                             data-toggle="set-color-and-background-color"
                             data-color="@cryptocurrency.CryptocurrencyColor"
                             style="width:2.7rem!important;height:2.7rem!important;">
                            <img class="rounded-circle p-0 border-0 d-inline-block"
                                 src="~/images/static/cryptocurrencies/@cryptocurrency.CryptocurrencyIcon"
                                 loading="lazy"
                                 alt="@cryptocurrency.CryptocurrencyName" />
                        </div>
                        <div class="ml-2 text-black d-flex flex-center font-weight-medium" style="font-size: 0.9rem !important;">
                            @cryptocurrency.CryptocurrencyName
                        </div>
                    </div>
                    <span class="badge badge-soft-primary mb-3">
                        Up to @cryptocurrency.MaxApy% APY
                    </span>
                    <div class="d-flex flex-column">
                        <p class="fs--1 mt-auto mb-1 text-muted">Validators</p>
                        <div class="avatar-group" style="user-select: none;">
                            @foreach (var validator in cryptocurrency.Validators)
                            {
                                <div class="avatar avatar-xl mr-n3"
                                     data-toggle="popover"
                                     data-placement="bottom"
                                     data-html="true"
                                     data-content="<div class='d-flex'><div class='justify-content-start avatar avatar-xl'><img class='rounded-circle d-inline-block' style='border: 2px solid white !important;' src='/images/validators/@validator.Photo' /></div><span class='ml-2 fa--1 d-flex align-items-center font-weight-semi-bold text-black'>@validator.Name<i class='fas fa-badge-check text-primary ml-1'></i></span></div>">
                                    <img style="border: 2px solid white !important;"
                                         class="rounded-circle"
                                         src="~/images/validators/@validator.Photo"
                                         alt="Validator @validator.Name"
                                         loading="lazy" />
                                </div>
                                if (cryptocurrency.Validators.Count > 3 && i >= 3)
                                {
                                    <div class="mr-n3 d-inline-block">
                                        <div class="avatar avatar-xl">
                                            <span style="border: 2px solid white !important;" class="avatar-name rounded-circle">
                                                <span>+@(cryptocurrency.Validators.Count - 3)</span>
                                            </span>
                                        </div>
                                    </div>
                                    break;
                                }
                                i++;
                            }
                        </div>
                    </div>
                </div>
                <div class="card-footer border-dashed-top">
                    <button data-demo-account="true" class="btn btn-sm btn-soft-primary btn-block">
                        <span>
                            Stake @cryptocurrency.CryptocurrencyName
                        </span>
                    </button>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="~/js/charts/echarts.min.js"></script>
    <script src="~/js/charts/chart-demo-setup.js"></script>
    <script async src="~/sweet-alert2/sweetalert2.all.min.js"></script>
    <script>
        $(document).ready(function () {
            $(document).ready(function () {
                $('main[role="main"]').removeClass('pb-3');
            })

            $('#chart-month').val(new Date().getMonth());
            $('#chart-month').change();

            $('#stake-more').click(function () {
                $('html, body').animate({
                    scrollTop: $('#cryptos-holder').offset().top
                }, 1000);
            })
        })
    </script>
}